# EditorConfig helps maintain consistent coding styles between different editors and IDEs
root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4

[*.cs]
charset = utf-8-bom
indent_style = tab
indent_size = 4
tab_width = 4
csharp_new_line_before_open_brace = none
